$color-background-dark:   #252535 ;
$color-background-medium: #333340 ;
$color-background-light:  #444454 ;
$color-text:              #CCC    ;

$dim-stage-width:         50em    ;
$dim-stage-left:          10em    ;
$dim-stage-pad:           5em     ;

body
{
	background:                 $color-background-dark;
	font-family:                'Oswald', sans-serif;
	color:                      $color-text;
	margin:                     0;
	padding:                    $dim-stage-pad 0 0 ($dim-stage-pad + $dim-stage-left);
	width:                      $dim-stage-width - 2 * $dim-stage-pad;
}

body::before
{
	content:                    "";
	position:                   absolute;
	background:                 $color-background-medium;
	top:                        0;
	bottom:                     0;
	left:                       $dim-stage-left;
	width:                      $dim-stage-width;
}

.stage
{
	position:                   relative;
}

.panel
{
	background:                 $color-background-light;
	width:                      19.5em;
	padding:                    0 1em 1em 1em;
	margin-bottom:              2em;
}

.tokens-field
{
	display:                    inline-block;
	font-family:                'Cousine', monospace;
	padding:                    0.5em 1em;
	height:                     1em;
	overflow:                   hidden;
	white-space:                nowrap;
	width:                      10em;
	background:                 #282838;
	outline:                    none;
	margin-bottom:              2em;
}

.tokens-field:focus
{
	background:                 $color-background-dark;
}

.token
{
	background-color:           yellow;
	position:                   relative;
	display:                    inline-block;
	text-align:                 center;
	font-family:                "Kotta One", serif;
	color:                      white;
	line-height:                1em;
	width:                      1.15em;
	height:                     1.15em;
	border-radius:              0.2em;
	cursor:                     default;
}